ul {
  display: flex;
  justify-content: space-around;
  margin: 0 10% 0 10%;
  list-style: none;
  background-color: blue;
  color: white;
}


.App {
  text-align: center;
}

.list {
  display: flex;
  justify-content: space-between;
  margin: 0 10% 0 10%;
}